.hero {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 35px;
}
.hero img {
  margin-top: 150px;
  width: 320px; /* Adjust as needed */
  height: 320px; /* Adjust as needed */
  border-radius: 50%; /* Makes the image circular */
  object-fit: cover; /* Ensures the image covers the circle properly */
  background-size: cover;
}
.hero h1 {
  text-align: center;
  width: 70%;
  font-size: 90px;
  font-weight: 600;
}

.hero h1 span {
  background: linear-gradient(267deg, #da7c25 0.36%, #b923e1);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.hero-action {
  display: flex;
  align-items: center;
  gap: 25px;
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 50px;
}

.connect-button {
  padding: 25px 45px;
  border-radius: 50px;
  background: linear-gradient(267deg, #da7c25 0.36%, #b923e1);
  cursor: pointer;
}

.resume-button {
  padding: 25px 45px;
  border-radius: 50px;
  cursor: pointer;
  border: 2px solid #fff;
}

.resume-button:hover {
  border-color: violet;
}
.connect-button:hover {
  border: 2px solid #fff;
}
