.youtube {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 80px;
  margin: 80px 170px;
}

.youtube-title {
  position: relative;
}

.youtube-title h1 {
  padding: 0px 30px;
  font-size: 80px;
  font-weight: 600;
}

.youtube-title img {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: -1;
}

.youtube-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 40px;
    margin-bottom: 80px;
}

.youtube-details {
  position: relative;
  overflow: hidden;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.youtube-details:hover {
  background-color: #2b2926;
  transform: scale(1.02);
}


